html {
    cursor: url(img/mata_mosquito.png) 30 30, auto;
}

body {
    background-size: 100%;
    background-image: url(img/bg.jpg);
    background-repeat: no-repeat;
}

.painel {
    position: absolute;
    width: 190px;
    padding: 10px;
    bottom: 0px;
    border-top: solid 1px #FFF;
    background-color: #FFF;
    opacity: 0.7;
}

.vidas {
    float: left;
}

.cronometro {
    float: left;
    font-size: 20px;
    font-weight: bold;
}

.mosquito0 {
    height: 50px;
    width: 50px;
}

.mosquito1 {
    height: 70px;
    width: 70px;
}

.mosquito2 {
    height: 90px;
    width: 90px;
}

.ladoA {
    transform: scaleX(1);
}

.ladoB {
    transform: scaleX(-1);
}